body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1:hover{
    color: rgb(55, 230, 215);
}

h1{
    font-size: 50px;
    cursor: pointer;
}
h1,h3,p{
    color: black;
}

span{
    color: rgb(103, 103, 218);
}

section{
    display: flex;
}


.first-image>img{
    width: 80%;
    /* width: 800px;
    height: 300px; */
}

.first-text{
    width: 50%;
    padding: 4%;
    display: inline-block;
    /* border: 2px solid black; */
    
}
.first-image {
    /* width: 50%; */
    padding: 3%;
    display: inline-block;
    /* border: 2px solid black; */
}
.link-button:hover{
    color: rgb(5, 5, 5);
}

.link-button{
    color: white;
    text-decoration: none ;
    background-image: linear-gradient(rgb(11, 11, 141),blue);
    border-radius: 7px;
    padding: 8px 40px;
    
}
.top-banner{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(images/4931029.jpg) ;
    
}